{% block content %}
	<div class="flashBox"></div>
    <article >
        <form id="loginForm" action="/acceso/" method="post">
            {% csrf_token %}
			<div>
				<label for="id_password">Usuario</label>
				{{formulario.username}}
				{{formulario.username.error}}
			</div>
			<div>
				
				<label for="id_password">Contraseña</label>
				{{formulario.password}}
				{{formulario.password.error}}
			</div>
			<div align="right" style="padding-top:12px;">
				 <input type="submit" value="Enviar">
			</div>
           
        </form>
    </article>
{% endblock %}