{% extends "base.html" %}
{% load humanize %} 
{% block title %}
    MangaInk: Fansub {{publicador.nombre}}	
{% endblock %}
{% block content %}
	<h1 class="title3">Fansub: {{publicador.nombre}}</h1>
	<article class="fansubDetalles">
		<div id="fansubProfile" class="fansubProfile">
			<h2>Datos del Fansub</h2>
			<div class="logo">
				<figure>
						<img src="{{ publicador.logo.url }}" alt="{{ publicador.nombre }}" class="logo">
				</figure>
			</div>
			<div class="lema">
				{{publicador.lema}}
			</div>
		</div>
		<div id="fansubUser" class="fansubProfile">
			<h2>Equipo</h2>
			<div>

				{% if publicador.user %}
				<ul>

				{% for usuario in publicador.user.all %}
					<li>
						<a href="mailto:{{usuario.email}}">{{usuario.username}}</a> ({{usuario.first_name}} {{usuario.last_name}})	
						<span clas="hora">{{ usuario.last_login|naturaltime }}</span> 
					</li>
				{% endfor %}	
				</ul>
				{%endif%}
			</div>
		</div>
		<div id="fansubSeries" class="fansubProfile">
			<h2>Series Publicadas</h2>
		</div>
		<div id="fansubCapitulos" class="fansubProfile" >
			<h2>Capitulos Publicados</h2>
		</div>
	</article>	
{% endblock %}