{% extends "base.html" %}
{% block title %}
	MangaInk te da la Bienvenida
{% endblock %}
{% block content %}
	<div id="review" class="boxContent">
		<article>
			<div class="reviewImage">
				<figure>
					<img id="imgReview" class="" src="" alt="">
				</figure>
			</div>
			<div class="reviewContent">
				<h3> muesta</h3>
				<div class="descriptionReview">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, eius amet enim non. Optio, hic, minima a aliquam dolorem eum voluptates doloribus quos nulla delectus rem harum quas nihil sit.
				</div>
				<div class="tool">
					
				</div>
			</div>
		</article>
	</div>
{% endblock %}