/****Esqueleto****/
body{
	background-color:#e5e5e5;
	font-family: Helvetica;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

a{

}
header, nav, footer, #page{
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
}

aside, section{
	display: inline-block;
	vertical-align: top;
}

aside{
	
	width: 21%;
}

footer{
	border-top: 4px solid #d59301;
	color: #498ace;
	font-size: 0.85em;
	font-weight: bold;
	padding-top: 4px;
}
footer a{
	color: #8d8d8d;
}
footer .footerLeft, footer .footerRight{
	display: inline-block;
}
footer .footerLeft ul{
	margin: 0;
	padding: 0;
}
footer .footerLeft li{
	display: inline-block;
	list-style: none;
	padding: 0;
}
footer .footerRigth{
	float: right;
}
h1{
	background: url(../img/title-sprite.png);
	background-size: 667px 264px;
	color: #fff;
	font-size: 18px;
	font-weight: bold; 
	margin: 1% 0;
	padding: 8px 0 0 0;
	text-align: center;
}
h1.title1{
	background-position: 0 0;
	height: 36px;
	width: 162px;
}
h1.title2{
	background-position: 0 -48px;
	height: 37px;
	width: 244px;
}
h1.title3{
	background-position: 0 -102px;
	width: 328px;
	height: 37px;
}
h1.title4{
	background-position: 0 -159px;
	height: 36px;
	padding-left: 22px;
	text-align: left;
	width: 531px;
}
h1.title5{
	background-position: 0 -215px;
	height: 40px;
	padding-left: 22px;
	text-align: left;
	width: 658px;
}
header{
	height: 112px;
}
header #logo{
	max-width: 268px;
	margin: 0 auto;
}
header #logo a{
	padding: 0;
	margin: 0;
}
header #logo img{
	width: 100%;
}
header .loginBlock{
	display: inline-block;
	float: right;
	width: 195px;
	margin-top:-110px;

}
nav{
	text-align: center;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav li{
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0 2px;
}
nav li a{
	background-color: #3f82d0;
	color: #fff;
	display: inline-block;
	font-size: 1.2em;
	font-weight: bold;
	padding: 12px 20px;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}
nav li a:hover{
	border-top: 6px solid #3f82d0;
	background-color:#3869a0;
	padding: 6px 20px 12px;
}
section {
	border-left: 1px solid #929292;
	padding: 5px;
	width: 76%;
}

.fansubDetalles{
	padding: 1%;
}
.fansubDetalles .left, .fansubDetalles .right{
	display: inline-block;
	vertical-align: top;
}
.fansubDetalles .left{
	width: 24%;
}
.fansubDetalles .right{
	width: 74%;
}
.fansubProfile{
	background-color: #fff;
	border:3px solid #000;
	padding: 1%;
    margin: 0 0px 5px;
}
.fansubProfile h2{
	padding: 0;
	margin: 0;
}

#fansubCapitulos{
	min-height: 280px;
	max-height: 480px;
}

#fansubProfile{
	height: 150px
	vertical-align:middle;
	text-align: center;
}

#fansubSeries{
	max-height:420px;
	min-height: 220px;
}

#fansubSeries h2{
	
}

#fansubUser{
	height: 384px;		
}

#fansubUser ul {
	padding-left: 5%;
}
#headerBox{
	border-bottom: 6px solid #d59301;
	height: 160px;
	margin: 0;
}
#page{
	padding: 5px 0;
}

#review{
	margin:0 auto;
	width: 80%;
	display: none;
}
#review .reviewImage, #review .reviewContent{
	display: inline-block;
}
#review .reviewContent{
	width: 76%;
}
#review .reviewContent h3{
	color: #3f84d1;
	padding: 0;
	margin: 0 0 1%;
}
#review .reviewContent .tool{
	background: #fff;
	border-radius: 5px;
	margin: 0 auto;
	padding: 2%;
	width: 94%;
}
#review .reviewImage{
	width: 158px;
}
.boxContent{
	background: #f5f5f5;
	box-shadow: 0 4px 8px rgba(0,0,0, .2);
	padding: 1%;
}
.errorlist{
	margin: 0 0 1%;
	margin-left:15%;
	padding-left: 2%;
	color: red;
}

.fansub{
	background:
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px; 
	border-radius:10px;
	border:3px solid #ec1616;
	display: inline-block;
	margin: 1%;
	padding: 1%;
	vertical-align: top;
	width: 200px;
	height:100px;
}
.fansub:nth-child(3n+0){
	border-color:#d69201;
}
.fansub:nth-child(4n+0){
	border-color:#ABDC28;
}
.fansub:nth-child(5n+0){
	border-color:#4989d1;
}
.fansub a { text-decoration: none; }
.fansub:hover{
	animation: shake2 1s;
}
.fansub a h4{ 
	color: #fff;
	margin: 5% 0;
	padding: 0;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	width: 90%;
}
.fansub a p{
	margin: 5px 0;
}
.fansub a .content{
	color: #ccc;
}
.fansub figure, .fansub .content{
	display: inline-block;
	vertical-align: top;
	
}
.fansub .logo{
	max-width: 64px;
	width: 100%;	
}
.fansub .content {
	max-width: 128px;
}
.information{
	color: #666;
	font-style: italic;
}
.socialFb{
	background: url(../img/social.png) left top  no-repeat #3b589a;
	background-size: 28px 109px;
}
.socialGoo{
	background: url(../img/social.png) left  no-repeat #d5492e;
	background-size: 28px 109px;
}
.socialLogin{
	color: #fff;
	display: block;
	font-size: 0.875em;
	font-weight: bold;
	height: 19px;
	padding-top: 5px;
	margin: 1% 0;
	padding-left: 40px;
	text-decoration: none;
	width: 155px;
	transition: all 0.5s ease-in-out;
}
.socialLogin:hover{
	transform:scale(1.1);
}
.socialTweet{
	background: url(../img/social.png) left bottom no-repeat #598dc9;
	background-size: 28px 109px;
}
.userBox {
	background-color: #D1D1D1;
	border: 3px solid #D59301;
	margin-bottom:5px;
	width: 80%;
	vertical-align: middle;
	padding: 2px 10px;
}
/**********MENU LATERAL*************/
aside h3{
	color: #d59500;
	margin: 5px;
}
aside .menu{
	margin: 0;
	padding: 0;
}

aside .menu li{
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 2px 0px;
}

aside .menu li a{
	background-color: #3f82d0;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	padding: 2px 5px;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}
aside .menu li a:hover{
	background-color: #3869a0;
	transform:scale(1.1);
}

aside .menuBox{
	margin-bottom: 20px;
}
a.toggleLink {
	border: 1px solid #ccc;
	color: #fff;
	font-weight: bold;
	vertical-align: middle;
    background: #666;
    display: inline-block;
    float: right;
    font-size: 12px;
    margin-right: 2%;
    padding: 0 5px;
    text-decoration: none;
}

/************Formularios**************/

form input[type="text"], form input[type="email"], form input[type="password"]{
	border: 1px solid #3F82D0;
	padding: 3px;
	width: 25%;
}

form label{
	display: inline-block;
	margin-bottom: 1%;
	width: 15%;
	font-weight: bold;
	color: #444;
}
form textarea{
	border: 1px solid #3F82D0;
	padding: 3px;
}
button, input[type="submit"], input[type="button"]{
	background: #7e858c;
	border-radius:3px;
	border: none;
	color: #fff;
	font-weight: bold;
	padding: 3px 7px;
	transition: all 1s linear;
}
button:hover, input[type="submit"]:hover{
	background: #3a3737;	
}

form.jqtransformdone div.rowElem{
	clear:both;
	padding:4px 0px;
}


/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {float: left;display:block;margin:0px 4px;	margin-top:5px;}
.jqTransformRadio {
	background: transparent url(../img/checkbox_radio.png) no-repeat center top;
	background-size: 15px 76px;
	background-position: 0 -37px;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
}
a.jqTransformRadioChecked { 
	background-position: 0 -56px;
}

/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	display:block;float:left;
	margin-top:5px;
}
a.jqTransformCheckbox {
	background: transparent url(../img/checkbox_radio.png) no-repeat center top;
	background-size: 15px 76px;
	background-position: 0 1px;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
}

/* -------------
 * Checked - Used for both Checkbox
 * ------------- */
a.jqTransformChecked { 
	background-position: 0 -17px;
}


/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 45px;
	position:relative;
	height: 31px;
	background: url(../img/select_left.gif) no-repeat top left;
	display: inline-block;
}

.jqTransformSelectWrapper div span {
	
	font-size: 12px;
	float: none;
	position: absolute;
	white-space: nowrap;
	height: 31px;
	line-height: 15px;
	padding: 8px 0 0 7px;
	overflow: hidden;
	cursor:pointer;
	/*border: 1px solid #CCCCCC;*/
/*	border-right: none;*/
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0px;
	width: 31px;
	height: 31px;
	background: url(../img/select_right.gif) no-repeat center center;
}

.jqTransformSelectWrapper ul {
	position: absolute;
	width: 43px;
	top: 30px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #3F82D0;;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 150px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#333;
	background-color: #FFF;
	font-size: 12px;
}

.jqTransformSelectWrapper ul a.selected {
	background: #EDEDED;
	color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#3582c4;
	color: #fff;
}
/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}

/***data-grid***/

.datagrid{
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
	margin:2% 0;
	width: 100%;
}

.datagrid th{
	background-color: #7E858C;
	color:#fff;
	font-weight: bold;
	padding:1%;
	transition: 1s all linear;
}

.bluegrid th{
	background-color: #3085d6;
}

.greengrid th{
	background-color: #ABDC28;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
}
.redgrid th{
	background-color: #ea1615;
}
.yellowgrid th{
	background-color: #d69201;
}

.datagrid th:hover{
	background: rgba(0,0,0,0.7);	
}
.bluegrid th:hover{
	background-color: #2452A0;
}

.greengrid th:hover{
	background-color: #539E1E;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
}
.redgrid th:hover{
	background-color: #A50E0E;
}
.yellowgrid th:hover{
	background-color: #895C01;
}
.datagrid td{
	padding: 1%;
}
.datagrid tr:nth-child(even){
	background-color: #d1d1d1;
}
.datagrid tr:hover{
	background-color:#f4de9c;
}

/********Iconos********/
.icon{
	background: url(../img/icon_32.png) no-repeat;
	background-size: 57px 778px;
	color: #666;
	display: inline-block;
	height: 24px;
	text-decoration: none;
	width: 24px;
	transition: all 0.5s ease-in-out;
}
.icon:hover{
	transform:scale(1.2);
}
.abierto{
	background-position: -33px -164px;
}
.cerrado{
	background-position: 0 -656px;
}
.config{
	background-position: 0 -33px;
}

.controlLeft{
	background-position: -39px -136px;
	height: 16px;
	width: 16px;
}
.controlRight{
	background-position: -36px -103px;
	height: 16px;
	width: 16px;
}
.controlReload{
	background-position: -36px -69px;
	height: 16px;
	width: 16px;
}

.delete{
	background-position: 0 -557px;
}

.download{
	background-position: 0 -492px;
}
.edit {
	background-position: 0 -623px;
}
.exit{
	background-position: 0 -131px;
}
.four{
	background-position: -33px -33px;
}
.graph{
	background-position: 0 -295px;
}
.graph2{
	background-position: -33px 0;
}
.help{
	background-position: 0 -429px;
}
.home{
	background-position: 0 0;
}
.image{
	background-position: 0 -229px;
}

.images{
	background-position: 0 -262px;
}
.info{
	background-position: 0 -426px;
}
.link{
	background-position: 0 -590px;
}
.pencil{
	background-position: 0 -197px;
}
.playButton{
}
.page{
	background-position: 0 -524px;
}
.reload{
	background-position: 0 -329px;
}
.rss{
	background-position: 0 -393px;
}
.star{
	background-position: 0 -721px;
}
.user{
	background-position: 0 -99px;
}
.userPerfil{
	background-position: 0 -689px;
}

.xicon{
	background-position: 0 -67px;
}
.zoom{
	background-position: 0 -362px;
}

/***Mensajes de alerta***/
.flashMessage{
	animation: shake 1s;
	border: 2px solid #fff;
	box-shadow: 0 4px 8px rgba(0,0,0, .2);
	color: #fff;
	font-weight: bold;
	margin: 1% auto;
	padding: 1%;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	width: 90%;

} 
.success{
	background-color: #ABDC28;
}
.error{
	background-color: #ea1615;
}
.warning{
	background-color: #d69201;
}
.info{
	background-color: #3f83ce;

}

/*******Animaciones*********/
@keyframes shake {
	0% {opacity: 0}
	30%,100% {opacity: 1}
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}
@keyframes shake2 {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}